* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 16px;
  color: #141414;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

h1 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: 500;
  color: #404040;
  margin-bottom: 10px;
}

h3 {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}

h4 {
  font-family: "Oswald";
  font-size: 25px;
  font-weight: bold;
  color: #141414;
  margin-bottom: 10px;
}

h5 {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

hr {
  opacity: 1;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}


.content-max-width {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

.flexbox {
  display: flex;
  display: -webkit-flex;
  /*Safari,Android,iOS*/
  display: -ms-flexbox;
  /*IE*/
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-box-pack: space-between;
  -moz-box-pack: justify;
  /*Firefox*/
  align-items: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  -moz-box-align: center;
}

.responsive-flexbox {
  display: flex;
  display: -webkit-flex;
  /*Safari,Android,iOS*/
  display: -ms-flexbox;
  /*IE*/
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-box-pack: space-between;
  -moz-box-pack: justify;
  /*Firefox*/
  align-items: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  -moz-box-align: center;
}

.three-column-flexbox {
  align-items: stretch;
  flex-wrap: wrap;
}

.three-column-flexbox .cardbox {
  flex-basis: 32%;
}

.flexcolumn {
  flex-direction: column;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.justify-content-center {
  justify-content: center;
}

.flexbox-reverse {
  flex-direction: row-reverse;
}

.button-link {
  cursor: pointer;
}

.button-box {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.3s;
  line-height: 1;
}

.button-primary {
  color: #FFFFFF;
  padding: 10px 20px;
  background: #C12A00;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary img{
  margin-right: 5px;
}

.button-primary:hover {
  background-color: #141414;
}

.button-secondary {
  color: #C12A00;
  padding: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #C12A00;
}

.button-secondary:hover {
  color: #FFFFFF;
  background: #C12A00;
  border: 1px solid #FFFFFF;
}

.button-whiteoutline {
  color: #FFFFFF;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
}

.button-whiteoutline:hover {
  border: 1px solid #141414;
  color: #141414;
}

.button-white {
  color: #C12A00;
  padding: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button-white:hover {
  color: #FFFFFF;
  background: #141414;
  border: 1px solid #141414;
}

.button-transparent {
  color: #FFFFFF;
  background-color:rgba(255,255,255,0.2);
  padding: 10px 30px;
  border: 1px solid #FFFFFF;
}

.button-transparent:hover {
  color: #FFFFFF;
  background: #C12A00;
  border: 1px solid #C12A00;
}

.highlight {
  color: #C12A00;
}

.h-line {
  width: 80px;
  border: 5px solid #C12A00;
  margin: 0 auto;
  margin-bottom: 70px;
}

.cardbox {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.cardbox img {
  width: 100%;
  border-bottom: 3px solid #C12A00;
}

.card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text p{
  line-height: 1.5;
}

.card-text a{
  margin-top: 10px;
}

.text-white {
  color: #ffffff;
}

.red-shadow {
  box-shadow: 30px 30px 0px 0px rgba(193, 42, 0, 1);
}

.icon-circle-bg {
  width: 130px;
  height: 130px;
  line-height: 200%;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  align-content: center;
}

/* Header */
/* Navigation */
.navbar {
  z-index: 99;
  padding: 10px 0;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #141414;
  margin: 10px 0 0 30px;
}

.nav-link:hover {
  color: #C12A00;
}

.navbar-nav .nav-link.active {
  color: #C12A00;
}

.nav-phone a{
  font-size: 20px;
  color: #141414;
}

.navbar-toggler {
  border-color: rgba(0,0,0,0);

  &:focus {
    box-shadow:none !important;
   }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,20,20)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.me-auto {
  background-color: #ffffff;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}




/* Footer */
footer {
  padding: 100px 0;
  color: #ffffff;
  background: rgb(51, 51, 51);
  background: linear-gradient(142deg, rgba(51, 51, 51, 1) 16%, rgba(45, 45, 45, 1) 16%, rgba(45, 45, 45, 1) 35%, rgba(39, 39, 39, 1) 35%, rgba(39, 39, 39, 1) 90%, rgba(32, 32, 32, 1) 90%, rgba(32, 32, 32, 1) 100%);
}

.footer-lefttbox {
  margin-right: 50px;
}

.footer-logo {
  width: 300px;
}

.footer-sns a{
  margin: 30px 10px 0;
}

.footer-rightbox {
  align-items: flex-start;
}

.footer-rightbox a{
  list-style: none;
  color: #ffffff;
}

.footer-services {
  margin-right: 40px;
}

.footer-list {
  list-style: url("../images/arrow.png");
  list-style-position: inside;
  text-align: left;
  text-indent: -1.2em;
  margin-left: 20px;
  text-decoration: underline;
}

.footer-list li{
  margin-bottom: 5px;
}

.footer-info li{
  margin-bottom: 10px;
}

.footer-info img{
  margin-right:10px;
}

/* Top page */
/* Hero-space */
.hero-space {
  background-color: #C12A00;
}

.hero-space-bg {
  position: relative;
  opacity: 0.5;
  background-image: url("../images/hero-bg.jpg");
  min-height: 90vh;
  max-height: 1100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 0, 100% 0, 100% 60%, 80% 100%, 0 100%, 0 90%);
}

.hero-textbox {
  position: absolute;
  top: 40%;
  width: 55%;
  color: #ffffff;
  z-index: 1;
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Oswald";
  line-height: 1.2;
}

.hero-paragraph {
  font-size: 18px;
}

.hero-textbox a {
  margin: 20px 20px 0 0;
}

/* Top page */
.section-style {
  padding: 70px 0;
}
/* Concrete cutting */
.top-concretecutting {
  background-color: #F2F2F4;
}

/* Other services */
.top-otherservices {
  background-image: url("../images/otherservices-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-otherservices a{
  margin: 0 20px 20px 0;
}

/* Instagram feed */
.top-instagram {
  background-color: #F2F2F4;
}

.top-instagram img {
  width: 100%;
}

/* Testimonials */
.testimonials {
}

.reviewer {
  margin-top: 30px;
}
.carousel-indicators {
  position: static;
}

.carousel-inner {
  height: 300px;
  align-content: center;
}

.carousel-review {
  width: 60%;
  margin: 0 auto;
}

.carousel-item a{
  color: #141414;
  text-decoration: underline;
}


/* Q&A */
.top-questions {
  background-color: #F2F2F4;
}

.questions-box-img{
  flex-basis: 40%;
  margin-right: 50px;
  margin-bottom: 30px;
}
.questions-box-img img{
  width: 100%;
}

.questions-box{
  flex-basis: 50%;
  width: 100%;
}

.accordion-header {
  background-color: #eee;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #404040;
}

.accordion-item {
  margin-bottom: 10px;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px;
  border-top: 1px solid #dee2e6;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23C12A00' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/></svg>");
}

.accordion-body {
  text-align: left;
}


/* Areas */
.top-areas {
  background-color: #141414;
  color: #ffffff;
}

.top-areas .responsive-flexbox{
  margin-bottom: 50px;
}

.area-list {
  list-style: url("../images/location-pin.png");
  list-style-position: inside;
  column-count: 3;
  text-align: left;
  width: 60%;
  text-indent: -1.2em;
}

.area-list li {
  margin-bottom: 10px;
}

.area-map {
  width: 40%;
}

.area-map img{
  width: 100%;
}


/* Sub page */
/* title */
.title-space {
  background-color: #C12A00;
}

.title-space-bg {
  position: relative;
  opacity: 0.5;
  background-image: url("../images/about-title-bg.jpg");
  min-height: 50vh;
  max-height: 1100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(30% 0, 100% 0, 100% 40%, 80% 100%, 0 100%, 0 90%);
}

.title-space h1 {
  position: absolute;
  top: 32%;
  color: #ffffff;
  width: 100%;
}

/* About Us */
/* Who We Are */
.about-whoweare .responsive-flexbox{
  margin-bottom: 20px;
}

.whoweare-textbox {
  width: 50%;
  text-align: left;
}

.whoweare-img {
  width: 40%;
}

/* Why Choose Us */
.about-whychooseus {
  background-image: url("../images/why-choose-us-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-whychooseus .icon-circle-bg {
  margin-bottom: 10px;
}

.about-whychooseus .flexbox {
  margin-bottom: 30px;
}

/* Meet Our Team */
.about-meetourteam {
  background-color: #F2F2F4;
}

.about-meetourteam .flexbox {
  width: 40%;
  display: flex;
  gap: 20px;
}

.meetourteam-img {
  width: 90%;
}

.meetourteam-img img {
  width: 100%;
}

.meetourteam-text {
  width: 50%;
}


/* Services */
.services-services {
  background-color: #F2F2F4;
}

.services-services .responsive-flexbox {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 30px;
  align-items: flex-start;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05);
}

.services-services img{
  width: 30%;
}

.services-services .align-left{
  width: 65%;
}

/* Projects */
.projects-projects {
  background-color: #F2F2F4;
}
.projects-projects h4 {
  margin-bottom: 50px;
}
.project-box {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 30px;
  align-items: flex-start;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05);
}

.project-textbox ul{
  padding-left: 20px;
}

.project-textbox li{
  list-style: circle;
}
.project-img-box {
  display: flex;
}

.project-img-box {
  display: flex;
}

.project-img-box .project-img{
  margin-left: 20px;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto 5%;
  background-color: #ffffff;
}

.project-img img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-img a:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.project-gallery {
  flex-wrap: wrap;
}

@media screen and (max-width: 1225px) {
  .nav-link {
    font-size: 16px;
    margin: 10px 0 0 20px;
  }

  .nav-item .button-primary {
    padding: 10px 15px;
    font-size: 16px;
  }

  .nav-phone a{
    font-size: 14px;
  }

  .footer-logo {
    width: 200px;
  }

  .hero-textbox {
    width: 60%;
  }

}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  .button-box {
    font-size: 16px;
  }

  .nav-link {
    margin: 0;
  }

  footer {
  font-size: 15px;
  }

  footer .responsive-flexbox{
    flex-direction: column;
  }

  .footer-lefttbox {
    margin-right: 20px;
  }
  .footer-logo {
    width: 250px;
  }
  .footer-sns img{
    width: 40px;
  }

  .footer-services {
    margin-right: 20px;
  }

  .footer-info {
    margin-left: 0px;
    margin-top: 50px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-paragraph {
    font-size: 16px;
    line-height: 1.8;
  }

  .area-list {
    column-count: 2;
  }

  .about-meetourteam .flexbox{
    flex-direction: column;
  }

  .meetourteam-text {
    width: 55%;
  }

  .project-img-box {
    flex-direction: column;
  }

}

/* (max-width: 796px) */
@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
  }

  h3 {
    font-size: 25px;
  }

  .content-max-width {
    width: 90%;
  }

  .responsive-flexbox {
    flex-direction: column;
    flex-wrap: unset;
  }

  .hr {
    margin-bottom: 50px;
  }

  .section-style {
    padding: 50px 0;
  }

  .top-otherservices a {
    margin: 0 0 20px 0;
  }

  .carousel-inner {
    height: 400px;
  }

  .carousel-item img{
    width: 80%;
  }

  .top-questions .responsive-flexbox{
    flex-direction: column-reverse;
  }

  .questions-box-img{
    width: 70%;
    margin-top: 30px;
    margin-right: 30px;
  }

  .area-map {
    width: 100%;
    margin-top:40px;
  }

  .about-whoweare .responsive-flexbox{
    margin-bottom: 30px;
  }

  .whoweare-textbox {
    width: 100%;
  }
  .about-meetourteam .flexbox {
    margin-bottom: 40px;
    flex-direction: row;
    width: 100%;
  }

  .meetourteam-text {
    width: 100%;
  }

  .services-services .responsive-flexbox {
    margin-bottom: 30px;
  }

  .services-services img{
    width: 100%;
    margin-bottom: 20px;
  }

  .services-services .align-left{
    width: 100%;
  }

}

@media screen and (max-width: 670px) {
  footer .flexbox{
    flex-direction: column;
  }

  footer .footer-sns{
    flex-direction: row;
    margin-bottom: 70px;
  }

  .hero-textbox {
    top: 20%;
    width: 55%;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-paragraph {
    font-size: 15px;
  }

  .hero-space .button-box {
    font-size: 16px;
    margin: 15px 15px 0 0;
  }

  .carousel-inner {
    height: 500px;
  }

  .area-list {
    width: 80%;
  }
}
